node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json

# macOS
.DS_Store

.idea
.expo-shared
android

wingspan-leaderboard.jks
pc-api-9081492580544613827-601-3c6720c8e211.json